/* Main styling */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

textarea {
  color: #000000;
  resize: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}

.row {
  height: 75px;
  border-top: 1px solid lightblue;
  background-color: transparent;
  align-items: center;
}

hr {
  background-color: lightblue;
  border-style: solid;
  height: 2px;
  width: 10%;
}

#currentTime {
  font-size: 16px;
}


/* Custom styling for time blocks */


/* .hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
} */

.past {
  background-color: lightgray;
  color: black;
}

.present {
  background-color: teal;
  color: white;
}

.future {
  background-color: lightblue;
  color: black;
}


#saveBtn {
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
}